*{
    transition: font-size 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    font-size: 18px;
}
.Modify{
    border-radius: 10px;
    height: fit-content;
}
.modifyContent{
    margin: 10px 20px;
    text-align: center;
}
input{
    border: 2px solid #313131;
    border-radius: 5px;
    width: 200px;
    height: 25px;
    margin: 5px;
    padding: 0 5px;
    font-size: 18px;
}
textarea{
    border: 2px solid #313131;
    border-radius: 5px;
    margin: 5px;
    padding: 0 5px;
    font-size: 18px;
}
.right{
    position: relative;
    float: right;
}