:root{
    --comment_height:2000px;
}
.comment{
    display: block;
    position: relative;
    background-color: rgb(250, 243, 217);
    width: 1129px;
    height: var(--comment_height);
    top: 100px;
    left: 20%;
    overflow: none;
}
.comment_top{
    position: relative;
    width:1129px;
    height: 59px;
    top: -59px;
    background-image: url(../img/home_top.png);
}
.comment_foot{
    position: relative;
    width:1129px;
    height: 59px;
    top: 97%;
    background-image: url(../img/home_foot.png);
}
.comment_left{
    position: absolute;
    background-image: url(../img/left.png);
    height: 2000px;
    width: 84px;
    top: 0%;
}
.comment_right{
    position: absolute;
    background-image: url(../img/right.png);
    height: 2000px;
    width: 84px;
    top: 0%;
    left:1045px;
}
.table_comment{
    position: relative;
    background-color: transparent;
    color: rgb(0, 42, 70);
    left: 80px;
    top: -100px;
    table-layout: fixed;
}
.th_user{
    text-align: center;
    width: 200px;
    border-right: 1px solid black;
    border-bottom: 1px dashed black;
}
.th_comment{
    text-align: center;
    width: 780px;
    border-bottom: 1px dashed black;
}
.td_user{
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    background-color: rgb(248, 215, 154);
    border-left:1px solid  rgb(129, 85, 2);
    border-right:1px solid  rgb(129, 85, 2);
    border-top: 4px solid  rgb(177, 115, 0);
    border-bottom: 4px solid  rgb(177, 115, 0);
    transition: all 250ms;
}
.td_user span{
    position: relative;
    top: 15px;
}
.td_user img{
    position: relative;
    width: 180px;
    height: 180px;
    background-color: #cacaca;
    border: 3px solid rgb(97, 97, 97);
    border-radius: 10px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.td_user .underline{
    position: relative;
    border-bottom: 3px dotted rgb(168, 123, 55);
}
.td_comment{
    position: relative;
    color:rgb(199, 199, 199);
    /* display: block; */
    vertical-align: top;
    left: 10px;
    height:304px;
    border-top: 4px solid rgb(179, 82, 3);
    border-bottom: 4px solid rgb(179, 82, 3);
    /* justify-content: center; */
}
.td_comment .text{
    color: rgb(61, 61, 61);
    font-size: 13px;
}
.td_date{
    color: rgb(87, 87, 87);
    font-size: 13px;
    margin: 0px 5px;
}
.td_it{
    color: black;
    font-size: 13px;
    margin: 0px 5px;
    text-decoration: none;
    transition: all 250ms;
}
.td_it:hover{
    color:rgb(2, 163, 212);
}
.td_content{
    margin: 15px 0px;
    color: black;
    width: 780px;
    word-wrap: break-word;
}
.td_comment_top{
    position: relative;
    top: 4px;
    width: 766px;
    height: 30px;
    border-bottom: 1px dashed rgb(167, 106, 27);
}
.tr_comment:hover .td_user{
    background-color: rgb(224, 183, 133);
}
.add_comment{
    position: relative;
    background-color: transparent;
    color: rgb(0, 42, 70);
    left: 80px;
    top: -50px;
    table-layout: fixed;
}
.ac_user{
    position:relative;
    text-align: center;
    height: 200px;
    width: 200px;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    background-color: rgb(248, 215, 154);
    border-left:1px solid  rgb(129, 85, 2);
    border-right:1px solid  rgb(129, 85, 2);
    border-top: 4px solid  rgb(177, 115, 0);
    border-bottom: 4px solid  rgb(177, 115, 0);
    transition: all 250ms;
}
.ac_comment{
    position: relative;
    color:rgb(199, 199, 199);
    border-top: 4px solid rgb(179, 82, 3);
    border-bottom: 4px solid rgb(179, 82, 3);
    border-right: 1px solid rgb(129, 85, 2);;
}
.ac_comment_top{
    position: relative;
    top:5px;
    bottom: 5px;
    text-align: center;
    color: rgb(61, 61, 61);
    font-size: 13px;
    border-bottom: 1px dashed rgb(167, 106, 27);
    width: 600px;
}
.add_comment textarea{
    position: relative;
    height: 180px;
    width: 600px;
    border: 0;
    margin-top: -1px;
    top: 6px;
    overflow: auto;
    resize: none;
    outline: none;
    background-color: rgb(250, 229, 197);
    transition: all 250ms;
}
.add_comment textarea:hover{
    background-color: bisque;
}
.add_comment textarea:focus{
    background-color: rgb(212, 190, 157);
}
.add_comment:hover .ac_user{
    background-color: rgb(224, 183, 133);
}
.ac_oprate{
    width: 180px;
    border-top: 4px solid rgb(179, 82, 3);
    border-bottom: 4px solid rgb(179, 82, 3);
    border-right: 1px solid rgb(129, 85, 2);
    text-align: center;
}
.ac_submit{
    position: relative;
    height: 176px;
    width: 180px;
    background-color: transparent;
    transition: all 250ms;
    border: 0;
    color: rgb(0, 158, 158);
    font-weight: bolder;
}
.ac_submit:hover{
    background-color: #cacaca;
}
.comment_tips{
    position: absolute;
    margin-top: 150px;
    margin-left: -170px;
}
.ac_comment_top_tips{
    float: right;
    margin-right: 10px;
}
.tipsToLogin{
    position: relative;
    height: 180px;
    width: 600px;
    border: 0;
    margin-top: -1px;
    top: 6px;
    overflow: auto;
    resize: none;
    outline: none;
    color: #5c5c5c;
    text-align: center;
    line-height: 160px;
}
.operate{
    position: relative;
    top: -80px;
    left: 400px;
}
.operate input{
    position: relative;
    margin: 0 5px;
    width: 80px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    transition: all 250ms;
}
.operate input:hover{
    background-color: #dddddd;
}
.display_all_comment{
    position: absolute;
    top: -10px;
    left: 158px;
    display:block;
}
.VerifyCode_div{
    position: relative;
}
.VerifyCode_div input{
    position: relative;
    top: 1px;
    width: 80px;
    height: 30px;
    border: 1px solid rgb(179, 82, 3);
    border-radius: 5px;
}
.VerifyCode_div input:hover{
    background-color: rgb(255, 244, 221);
}
.VerifyCode_div input:focus{
    background-color: rgb(250, 233, 196);
}
.VerifyCode_div img{
    position: relative;
    top: -1px;
}