*{
    user-select: none;
}
html{
    overflow-x: hidden;
    overflow-y: hidden;
}
body{
    display: flex;
    justify-content: center;
    background-color: rgb(22, 48, 51);
}
div{
    position: relative;
    top: 100px;
    text-align: center;
}
input{
    position: relative;
    opacity: 1;
    top:-200px;
}
.code-item{
    position: relative;
    background-color: rgb(32, 159, 190);
    border: 2px solid black;
    width: 80px;
    height: 100px;
    border-radius: 10px;
    text-transform: uppercase;
    float: left;
    margin: 0 5px;
    font-size: 70px;
    transition: all 250ms;
}
.active{
    background-color: rgb(83, 221, 255);
    border: 2px solid rgb(255, 255, 255);
}
.code-box{
    text-align: center;
}
.text{
    position: relative;
    top: 150px;
}
.text p{
    font-family: cool_font;
    color: aquamarine;
    font-size: 22px;
}
button{
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 20px;
    width: 100px;
    height: 50px;
    transition: all 250ms;
    font-family: cool_font;
    font-weight: bold;
    font-size: 14px;
}
button:hover{
    background-color: rgb(168, 168, 168);
}
span{
color: cornflowerblue;
}
a{
    color: antiquewhite;
}
a:hover{
    text-decoration: underline;
}
.gray{
    position: absolute;
    background-color: black;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display:none;
}
.confirm_box{
    position: relative;
    width: 700px;
    height: 400px;
    background-color: rgb(164, 214, 214);
    display:none;
    top: 180px;
    left: 600px;
    border-radius: 50px;
    border: 3px solid rgb(99, 95, 95);
}
.confirm_box h1{
    position: relative;
    font-size: 50px;
    color: rgb(18, 75, 28);
    font-weight: bold;
    top: -160px;
}
.confirm_box span{
    position: relative;
    top: -160px;
    font-size: 20px;
    color: rgb(19, 66, 1);
    font-weight: bold;
}
.confirm_box button{
    position: relative;
    top: -160px;
    left: 0;
}