html{
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-button{
    background-image: url(/img/icon/understar.png);
    background-size: 100% 100%;
    background-color: rgb(119, 119, 119);
    height: 10px;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    border: 2px solid rgb(56, 27, 1);
    background-image: url(/img/icon/stick.png);
}
::-webkit-scrollbar-track{
    background-color: gray;
}
body{
    width: auto;
    min-height: 100vh;
}
*{
    margin:0px;
    padding:0px;
    user-select: none;
}
.return_top{
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: aliceblue;
    opacity: 0.3;
    text-align: center;
    line-height: 55px;
    top: 80%;
    right: 3%;
    border-radius: 5px;
    z-index: 10;
}
.return_top:hover{
    opacity: 0.8;
}
.tail{
    position: relative;
    height:100px;
    width: 100%;
    background: url(../img/tail.png);
    background-size: 50px;
    z-index: 1;
    top:200px;
}
.tail p{
    text-align: center;
    position: relative;
    height: 50px;
    width: 100px;
    left: 48%;
    top: 25%;
    color: antiquewhite;
    backdrop-filter: blur(1px);
    border-radius: 5px;
}
