html{
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgb(0, 174, 255);
    border: 1px solid rgb(56, 27, 1);
}
::-webkit-scrollbar-track{
    background-color: gray;
}
body{
    width: auto;
    min-height: 100vh;
}
*{
    margin:0px;
    padding:0px;
    user-select: none;
}
.return_top{
    position: fixed;
    width: 45px;
    height: 45px;
    opacity: 0.3;
    background-color: white;
    text-align: center;
    line-height: 55px;
    top: 80%;
    right: 3%;
    border-radius: 10px;
    z-index: 10;
}
.return_top img{
    position: relative;
    top: -6px;
    left: -2.5px;
    width: 50px;
    height: 50px;
}
.return_top:hover{
    opacity: 0.8;
}
.tail{
    position: relative;
    height:100px;
    width: 100%;
    background: url(../img/tail.png);
    background-size: 50px;
    z-index: 1;
    top:200px;
}
.tail p{
    text-align: center;
    position: relative;
    height: 50px;
    width: 100px;
    left: 48%;
    top: 25%;
    color: antiquewhite;
    backdrop-filter: blur(1px);
    border-radius: 5px;
}
.idppt_select{
    position: absolute;
    bottom: 10px;
    left: 71vh;
    height: 70px;
    z-index: 10;
    background-color: rgba(167, 167, 167, 0);

}
.idppt_select img{
    position: relative;
    top: 10px;

    width: 85.4px;
    height: 48px;
    margin: 0 20px;
    opacity: 0.2;
}
.idppt_select:hover{
    background-color: rgba(167, 167, 167, 0.473);
}
.idppt_select:hover img{
    opacity: 0.7;
}
.idppt_select img:hover{
    opacity: 1;
}
.notice{
    position: absolute;
    background-color: rgba(70, 70, 70, 0.363);
    top: 15px;
    width: 9999px;
    height: 35px;
    z-index: 10;
    list-style: none;
    color: aliceblue;
    overflow: hidden;
}
.notice li{
    position: relative;
    top: 5px;
    left: 1200px;
    margin-top: 1px;
    margin-right: 1000px;
    float: left;
}
