*{
    color: rgb(255, 255, 255);
    user-select: none;  
}
body{
    background-color: rgb(49, 49, 49);
    height: 800px;
    margin: 0;
    padding: 0;
}
ul{
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    float:left;
    background-color: rgb(29, 28, 28);
    color: aliceblue;
    width:100px;
    height: 800px;
}
ul li{
    float: left;
    margin-top: 10px;
}
ul li a{
    border-top: 3px solid #686666;
    text-align: center;
    line-height: 50px;
    display: block;
    width: 100px;
    height: 50px;
    background-color: rgb(72, 73, 73);
    text-decoration: none;
    color: aliceblue;
    transition: all 250ms;
}
ul li a:hover{
    color: azure;
    background-color: rgb(58, 58, 58);
}
span{
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.me{
    position: relative;
    border: 2px solid rgb(0, 0, 0);
    display: block;
    left: 115px;
    width: 100%;
    height: 778px;
    background-color: #474747;
}
.me_square{
    position: relative;
    transform: rotate(45deg);
    left: 108px;
    top: 125px;
    background-color: rgb(0, 0, 0);
    width: 15px;
    height: 15px;
    display: block;
}
.date_span{
    position: relative;
    left: -15px;
}
.information{
    position: relative;
    border: 2px solid rgb(0, 0, 0);
    display: none;
    left: 115px;
    width: 100%;
    height: 778px;
    background-color: #474747;
}
.i_square{
    position: relative;
    transform: rotate(45deg);
    left: 108px;
    top: 188px;
    background-color: rgb(0, 0, 0);
    width: 15px;
    height: 15px;
    display: none;
}
input{
    border:2px solid black;
    background-color: #7c7c7c;
    height: 25px;
    color: rgb(255, 255, 255);
    transition: all 250ms;
}
input:hover{
    background-color: #5c5c5c;
}
input:focus{
    background-color: #363636;
}
textarea{
    border:2px solid black;
    background-color: #7c7c7c;
    height: 100px;
    width: 300px;
    transition: all 250ms;
    resize: none;
    font-size: 15px;
    font-weight: bold;
}
textarea:hover{
    background-color: #5c5c5c;
}
textarea:focus{
    background-color: #363636;
}
.span1{
    position: relative;
    top: -50px;
}
.confirm_information{
    position: relative;
    left: 277px;
    width: 80px;
    height: 40px;
    background-color: #4e4e4e;
    transition: all 250ms;
}
.confirm_information:hover{
    background-color: #272727;
}
.password{
    position: relative;
    border: 2px solid rgb(0, 0, 0);
    display: none;
    left: 115px;
    width: 100%;
    height: 778px;
    background-color: #474747;
}
.p_square{
    position: relative;
    display: none;
    transform: rotate(45deg);
    left: 108px;
    top: 252px;
    background-color: rgb(0, 0, 0);
    width: 15px;
    height: 15px;
}
.span2{
    position: relative;
    margin-left: -65px;
}
.confirm_password{
    position: relative;
    left: 160px;
    width: 80px;
    height: 40px;
    background-color: #4e4e4e;
    transition: all 250ms;
}
.confirm_password:hover{
    background-color: #272727;
}
.i_tips{
    position: absolute;
    left: 200px;
    color: lightgreen;
}
.p_tips{
    position: absolute;
    left: 150px;
    color: lightgreen;
}
.VerifyCode{
    position: relative;
    width: 80px;
}
.next_code{
    font-size: 1px;
}
.next_code:hover{
    text-decoration: underline;
}
.code_jpg{
    position: relative;
    top: 10px;
    left: 2px;
}
ul .head_img{
    position: relative;
    background-color: aliceblue;
    border: 1px solid white;
    left: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

ul .head_set{
    position: absolute;
    left: 11px;
    top: 11px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid white;
    /* display: none; */
    background-color:#272727;
    opacity: 0;
    transition: all 250ms;
}
.head_set:hover{
    opacity: 0.6;
}
.head_page{
    position: relative;
    border: 2px solid rgb(0, 0, 0);
    display: none;
    left: 115px;
    width: 100%;
    height: 778px;
    background-color: #474747;
}
.h_square{
    position: relative;
    transform: rotate(45deg);
    left: 108px;
    top: 45px;
    background-color: rgb(0, 0, 0);
    width: 15px;
    height: 15px;
    display: none;
}
#upload_head{
    position: relative;
    top: 50px;
}
.img_preview1,.img_preview2,.img_preview3{
    position: relative;
    border: 1px solid white;
    transition: all 250ms;
    object-fit: cover;
}
.img_preview1{
    height: 32px;
    width: 32px;
}
.img_preview2{
    height: 64px;
    width: 64px;
}
.img_preview3{
    height: 128px;
    width: 128px;
}
.img_preview1:hover,.img_preview2:hover,.img_preview3:hover{
    border-radius: 50%;
}

.span32{
    font-size: 8px;
}