.top{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 600px;
}
*{
    margin:0px;
    padding:0px;
    user-select: none;
}
.starfall{
    position: relative;
    top: 200px;
    z-index: 10;
    float: left;
    font-family: block_font;
    font-weight: bold;
    font-size: 150px;
    color: rgb(0, 162, 255);
}
#ppt{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height:600px;
    overflow: none;
    z-index: 5;
}
.pptImage{
    width: 100vw;
    height: auto;
    min-height: 600px;
}
/* 
弃用js轮播图，该成bootstrap轮播
#ppt{
    position: absolute;
    width: 100%;
    height:600px;
    background-repeat: no-repeat;
    background-image:url(../img/top/top1.png);
    background-size: 100% auto;
    background-position: -50% 50%;
}
.il{
    width:50px;
    height:50px;
    position: absolute;
    top: 30%;
    left: 3%;
    background-color: aliceblue;
    display: block;
    line-height: 48px;
    text-align: center;
    border-radius: 5px;
    opacity: 0.3;
    transition: opacity 500ms;
    -webkit-transition: opacity 500ms;
}
.il:hover{
    opacity: 0.8;
}
.ir{
    width:50px;
    height:50px;
    position: absolute;
    top: 30%;
    right: 3%;
    background-color: aliceblue;
    display: block;
    line-height: 48px;
    text-align: center;
    border-radius: 5px;
    opacity: 0.3;
    transition: opacity 500ms;
    -webkit-transition: 500ms;
}
.ir:hover{
    opacity: 0.8;
}
#ppt_dot{
    position: absolute;
    width:200px;
    height:30px;
    background: none;
    bottom:0px;
    left: 50%;
    margin-left:-100px;
    display: flex;
}
#pd1,#pd2,#pd3,#pd4{
    width:10px;
    height: 10px;
    background:rgb(34, 34, 34);
    position: relative;
    margin-top: 10px;
    margin-left: 25px;
    border-radius: 5px;
    opacity: 0.8;
} */
.idppt_select{
    position: absolute;
    bottom: 10px;
    /* left: 71vh; */
    height: 70px;
    z-index: 10;
    background-color: rgba(167, 167, 167, 0);

}
.idppt_select img{
    position: relative;
    top: 10px;
    width: 85.4px;
    height: 48px;
    margin: 0 20px;
    opacity: 0.2;
}
.idppt_select:hover{
    background-color: rgba(167, 167, 167, 0.473);
}
.idppt_select:hover img{
    opacity: 0.7;
}
.idppt_select img:hover{
    opacity: 1;
}
.notice{
    position: absolute;
    background-color: rgba(70, 70, 70, 0.363);
    top: 15px;
    width: 9999px;
    height: 35px;
    z-index: 10;
    list-style: none;
    color: aliceblue;
    overflow: hidden;
    transition: none;
}
.notice li{
    position: relative;
    top: 5px;
    left: 1900px;
    margin-top: 1px;
    margin-right: 1000px;
    float: left;
}
