*{
    margin:0px;
    padding:0px;
    user-select: none;
    transition: all 250ms;
    -webkit-transition: all 250ms;
}
#ul{
    width: 100%;
    height: 55px;
    background-color: rgb(56, 55, 55);
    list-style: none;
    position: sticky;
    top:0;
    overflow: none;
    padding-left: 38%;
    font-family: cool_font;
    font-weight: bold;
    z-index: 1;
    box-shadow:0px 1px 5px rgb(0, 0, 0);
}
#ul_li{
    float: left;
    margin-left: 20px;
}
#ul_li a{
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 4px 20px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}
#ul_li a:hover:not(.active){
    color: black;
    background-color: rgb(92, 170, 248);
    border-radius: 10px;
}
#ul_li a:hover:not(.active) b{
    display: inline-block;
    transform: translateY(25px);
}
#ul_li a:hover:not(.active) span{
    display: inline-block;
    transform: translateY(-25px);
}

#ul_li a.active{
    background-color: dodgerblue;
    color: black;
    border-radius: 10px;
}
/* ul form{
    float: right;
    right: 1px;
    border: 2px solid rgb(255, 255, 255);
    color: aliceblue;
    border-radius: 10px;
    text-align: center;
    width: 150px;
    height: 55px;
    line-height: 55px;
    transition: all 250ms;
} */
ul form{
    float: right;
    right: 1px;
    border: 2px solid rgb(255, 255, 255);
    color: aliceblue;
    border-radius: 10px;
    text-align: center;
    width: 150px;
    height: 55px;
    line-height: 55px;
}
/* .unuser{
    display: none;
} */
/* ul .user_massage{
    position: relative;
    
} */
ul .head_img{
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 52px;
    height: 52px;
    border-radius: 10px;
    left: 0px;
    top: -3px;
    object-fit:cover;
}
.user:hover .head_img{
    border-radius: 10px 10px 0px 0px;
    width: 148px;
}
ul input{
    position: relative;
    right: 2px;
    border: 0;
    width: 150px;
    height: 55px;
    background-color: transparent;
    top: -57px;
    border-radius: 10px;
}
ul form:hover{
    border:2px solid gray;
}
.user{
    position: relative;
    float: right;
    right: 15px;
    border: 2px solid rgb(255, 255, 255);
    color: aliceblue;
    border-radius: 10px;
    text-align: center;
    width: 55px;
    height: 55px;
    line-height: 55px;
}
.user:hover{
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    right: 1px;
    width: 150px;
}
.menu{
    position: relative;
    background-color: rgb(56, 55, 55);
    border-radius: 0px 0px 5px 5px;
    width: 150px;
    height: 115px;
    top:-210px;
    left: -2px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow:0px 4px 4px rgb(0, 0, 0);
    border-top: 0;
    opacity: 0;
}
.menu a{
    position: relative;
    width: 145px;
    background-color:rgb(56, 55, 55);
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    padding: 0px;
    float: left;
}
.menu a:hover{
    color: rgb(255, 255, 255);
    background-color:rgb(80, 80, 80);
}
.user:hover .menu{
    top: -95px;
    right: 2px;
    border:2px solid gray;
    border-top: 0;
    opacity: 1;
}