<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/edit/edit_admin.css">
    <link rel="stylesheet" href="css/edit/home.css">
    <link rel="stylesheet" href="css/edit/information.css">
    <link rel="shortcut icon" href="img/ico.png" type="image/x-icon">
    <title>Document</title>
</head>
<body>
    <ul>
        <h1>管理</h1>
        <h2>-------------------</h2>
        <li><a href="" class="active">管理主页</a></li>
        <li><a href="">用户信息</a></li>
        <li><a href="">评论管理</a></li>
        <li><a href="/set">返回设置</a></li>
        <li><a href="/home">返回主页</a></li>
        <h2>-------------------</h2>
    </ul>
    <div class="home">
        <div class="home_top">
            <h1 class="C_text">欢迎, <span>name</span> !</h1>
            <span class="E_text">Welcome, &nbsp;&nbsp;<span>user</span> !</span>
        </div>
    </div>
    <div class="information">
        <div class="information_top">
            <h1 class="C_text">欢迎, <span>name</span> !</h1>
            <span class="E_text">Welcome, &nbsp;&nbsp;<span>user</span> !</span>
        </div>
        <div class="information_main">
            <table class="user_admin">
                <tr>
                    <th class="user">用户</th>
                    <th class="name">名称</th>
                    <th class="password">密码</th>
                    <th class="level">等级</th>
                    <th class="date">创建日期</th>
                    <th class="email">邮箱</th>
                </tr>
                <tr>
                    <td>User</td>
                    <td>Name</td>
                    <td>Password</td>
                    <td>Level</td>
                    <td>date</td>
                    <td>email</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>