<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    div{
        width: 500px;
        height: 200px;
        backdrop-filter: blur(5px);
        text-align: center;
        border-radius: 10px;
    }
    a{
        text-decoration: none;
        color: midnightblue;
    }
    a:hover{
        text-decoration: underline;
    }
    h1{
        color: darkred;
    }
</style>
<body background="img/bg.png">
<div>
    <h1>错误</h1>
    <p>您的操作有误，请返回首页</p>
    <a href="/home">返回首页</a>
</div>
</body>
</html>