<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/starfall.png" type="image/x-icon">
    <title>登录+|StarFall|</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/font.css">
    <script src="./js/login.js"></script>
</head>
<body>
    
</body>
<script>
    function Change() {
    var img = document.getElementById("img_code")
    var date = new Date().getTime();
    img.src="jpegCode?"+date;
}
</script>
</html>