<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${session.name}+'-|StarFall|'">用户设置</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../../../../../../Desktop/新建文件夹/css/set.css" rel="stylesheet">
        <link rel="shortcut icon" href="../../../../../../Desktop/新建文件夹/img/ico.png" type="image/x-icon">
        <script src="../../../../../../Desktop/新建文件夹/js/jquery.js" type="text/javascript"></script>
    </head>
    <body>
        <ul>
            <li><img th:src="@{'/head_img/'+${session.head}}" alt="" class="head_img"><button class="head_set">修改头像</li>
            <li><a href="javascript:display_me();" class="ul_me">我的</a></li>
            <li><a href="javascript:display_information();" th:onclick="|seti_Change();|" class="ul_inf">修改信息</a></li>
            <li><a href="javascript:display_password();" th:onclick="|setp_Change();|" class="ul_pass">修改密码</a></li>
            <li><a href="/edit_admin" th:if="${session.level} == 9981">前往管理</a></li>
            <li><a href="/home">返回主页</a></li>
        </ul>
        <div class="me_square" id="me_square" th:style="'display:'+${session.display_me}+';'"></div>
        <div class="me" id="me" th:style="'display:'+${session.display_me}+';'">
            你好！<span th:text="${session.name}">用户名</span>
            <p>这里是你的信息</p>
            用户名：<span th:text="${session.user}">user</span><br><br>
            名&emsp;称：<span th:text="${session.name}">name</span><br><br>
            邮&emsp;箱：<span th:text="${session.email}">123@email.com</span><br><br>
            <span class="date_span">注册日期：</span><span th:text="${session.date}">0000-00-00</span><br>
            <span class="span1">介&emsp;绍：</span><textarea name="" id="" disabled="none" style="color:black;font-size:15px;font-weight: bold " th:utext="${#strings.replace(session.introduce,'\n','&lt;br/&gt;')}">introduce</textarea>
        </div>
        <div class="i_square" id="i_square" th:style="'display:'+${session.display_i}+';'"></div>
        <div class="information" id="information" th:style="'display:'+${session.display_i}+';'">
            你好！<span th:text="${session.name}">用户名</span>
            <br><br>
            <form action="set_information" method="post">
                <span>名&emsp;字：</span><input type="text" name="name" th:maxlength="9" th:value="${session.name}"><br><br>
                <span class="span1">介&emsp;绍：</span><textarea type="text" name="introduce" th:maxlength="255" th:utext="${#strings.replace(session.introduce,'\n','&lt;br/&gt;')}"></textarea><br>
                验证码：<input type="text" id="VerifyCode" class="VerifyCode" name="seti_VerifyCode" th:name="seti_code"><img src="jpegCode" id="seti_img_code" class="code_jpg" th:onclick="|seti_Change();|"/><span class="next_code" th:onclick="|seti_Change();|">看不清，换一张</span><br>
                <span class="i_tips" th:text="${session.i_tips}">aaa</span><input type="submit" class="confirm_information" value="确定修改">
            </form>
        </div>
        <div class="p_square" id="p_square" th:style="'display:'+${session.display_p}+';'"></div>
        <div class="password" id="password" th:style="'display:'+${session.display_p}+';'">
            你好！<span th:text="${session.name}">用户名</span>
            <br><br>
            <form action="set_password" method="get">
                <span>原密码：</span><input type="password" name="old_password" th:maxlength="16" id="old_password" th:onkeypress="this.value=this.value.replace(/\s+/g,'')" th:onkeyup="this.value=this.value.replace(/\s+/g,'')"><br><br>
                <span>新密码：</span><input type="password" name="" th:maxlength="16" id="new_password"th:onkeypress="this.value=this.value.replace(/\s+/g,'');check_password_length()" th:onkeyup="this.value=this.value.replace(/\s+/g,'');check_password_length()">
                <span class="tips_password" id="tips_password" ></span><br><br>
                <span class="span2">再次输入新密码：</span><input type="password" name="new_password" id="again_password" th:maxlength="16" th:onkeypress="this.value=this.value.replace(/\s+/g,'');check_password_equal()" th:onkeyup="this.value=this.value.replace(/\s+/g,'');check_password_equal()"><br><br>
                验证码：<input type="text" id="VerifyCode" class="VerifyCode" th:name="set_VerifyCode"><img src="jpegCode" id="setp_img_code" class="code_jpg" th:onclick="|setp_Change();|"/><span class="next_code" th:onclick="|setp_Change();|">看不清，换一张</span><br>
                <span class="tips_again_password" id="tips_again_password">aaa</span><br><br>
                <span class="p_tips" th:text="${session.p_tips}" th:style="'color:'+${session.p_tips_color}+';'"></span><input th:type="button" name="" class="confirm_password" id="confirm_password" value="确认修改">
            </form>
        </div>
        <div class="h_square" id="h_square" th:style="'display:'+${session.display_h}+';'"></div>
        <div class="head_page" id="head_page" th:style="'display:'+${session.display_h}+';'">
            <form method="post" action="/upload_head" enctype="multipart/form-data" id="upload_head">
                <img th:src="@{'/head_img/'+${session.head}}" alt="" class="img_preview1" id="img_preview1">&emsp;
                <img th:src="@{'/head_img/'+${session.head}}" alt="" class="img_preview2" id="img_preview2">&emsp;
                <img th:src="@{'/head_img/'+${session.head}}" alt="" class="img_preview3" id="img_preview3">
                <br>
                <span class="span32">32x32</span>&emsp;&nbsp;
                <span class="span64">64x64</span>&emsp;&emsp;&emsp;&nbsp;
                <span class="span128">128x128</span>
                <br><br>
                <input type="file" accept="image/jpeg, image/png, image/jpg" id="file" name="head_img">
                <p class="info" id="info"></p>
                <input type="button" id="submit_head" value="确认修改">
            </form>
        </div>
    </body>
    <script src="../../../../../../Desktop/新建文件夹/js/set.js" type="text/javascript"></script>
</html>