<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'签到-'+${session.user.getName()}">签到</title>
    <link rel="stylesheet" href="./css/sign_in.css">
    
</head>
<body>
    <div class="book">
        <div class="top"></div>
        <div class="left"></div>
        <div class="right"></div>
        
        <div class="main">
            <table>
                <tr>
                    <th th:text="${session.user.name}">name</th>
                    <th><span class="date">0000-00-00</span></th>
                </tr>
                <tr>
                    <td>
                        <div class="main_left">
                            <img th:src="@{'/head_img/'+${session.user.head}}" alt="">
                            <div class="sign btn" onclick="sign()" id="noSign"><span class="status0">29 | 签 到</span><span>今天尚未签到</span></div>
                            <div class="sign btn" id="alreadySign"><span class="status1">29 |已 签 到</span><span th:text="'已连续签到'+${session.user.signcontinuous}+'天'">已连续签到10天</span></div>
                        </div>

                    </td>
                    <td>
                        <div></div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="bottom"></div>
    </div>
    <script src="./js/sign_in.js"></script>
</body>
</html>