<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加中...</title>
    <link rel="stylesheet" href="./css/editHome.css">
    <link rel="stylesheet" href="./css/modify.css">
</head>
<body>
    <div class="Modify" th:if="${session.administerPage} == 2">
        <form action="/administer/addUserData" method="post">
            <table class="modifyContent">
                <tr>
                    <td>用户名</td>
                    <td>:<input type="text" name="user" placeholder="默认值null">&emsp;</td>
                    <td>等级</td>
                    <td>:<input type="text" name="level" placeholder="默认值0">&emsp;</td>
                </tr>
                <tr>
                    <td>密码</td>
                    <td>:<input type="text" name="password">&emsp;</td>
                    <td>名称</td>
                    <td>:<input type="text" name="name">&emsp;</td>
                </tr>
                <tr>
                    <td>邮箱</td>
                    <td>:<input type="text" name="email">&emsp;</td>
                    <td>注册日期</td>
                    <td>:<input type="text" name="date">&emsp;</td>
                </tr>
                <tr>
                    <td>头像</td>
                    <td>:<input type="text" name="head">&emsp;</td>
                    <td>权限</td>
                    <td>:<input type="text" name="promise" placeholder="默认值0">&emsp;</td>
                </tr>
                <tr>
                    <td>介绍</td>
                </tr>
                <tr>
                    <td colspan="4"><textarea style="width: 575px;height: 100px;" name="introduce"></textarea></td>
                </tr>
            </table>
            <div style="border:0;">
                <button class="btn right" style="margin: 5px 5px;" type="submit">添加</button>
                &emsp;
                <button class="btn right" style="margin: 5px 5px;" type="button" onclick="window.location.href = '/administer/html'">取消</button>
            </div>
        </form>
    </div>
    <div class="Modify" th:if="${session.administerPage} == 4">
        <form action="/administer/addNoticeData" method="post">
            <table class="modifyContent">
                <tr>
                    <td>公告ID</td>
                    <td>:<input type="text" name="id">&emsp;</td>
                </tr>
                <tr>
                    <tr>
                        <td>内容:</td>
                        <td><textarea name="content" style="width:210px;height: 100px;"></textarea></td>
                    </tr>
                </tr>
            </table>
            <div style="border:0;">
                <button class="btn right" style="margin: 5px 5px;" type="submit">添加</button>
                &emsp;
                <button class="btn right" style="margin: 5px 5px;" type="button" onclick="window.location.href = '/administer/html'">取消</button>
            </div>
        </form>
    </div>
    <div class="Modify" th:if="${session.administerPage} == 5">
        <form action="/administer/addCommentData" method="post">
            <table class="modifyContent">
                <tr>
                    <td>评论编号</td>
                    <td>:<input type="text" style="width: 50px;" name="id">&emsp;</td>
                    <td>主题编号</td>
                    <td>:<input type="text" style="width: 50px; " name="topicid">&emsp;</td>
                    <td>用户</td>
                    <td>:<input type="text" name="user">&emsp;</td>
                </tr>
                <tr>
                    <td>内容</td>
                </tr>
                <tr>
                    <td colspan="6"><textarea name="content" style="width: 575px;height: 100px;"></textarea></td>
                </tr>
            </table>
            <div style="border:0;">
                <button class="btn right" style="margin: 5px 5px;" type="submit">添加</button>
                &emsp;
                <button class="btn right" style="margin: 5px 5px;" type="button" onclick="window.location.href = '/administer/html'">取消</button>
            </div>
        </form>
    </div>
</body>
</html>