<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加中...</title>
    <link rel="stylesheet" href="./css/editHome.css">
    <link rel="stylesheet" href="./css/modify.css">
    <script src="./js/page.js"></script>
</head>
<body>
    <div class="tips" th:if="${session.administerTips} != null">
        <div class="tipsDiv">
            <p>提示:</p>
            <span th:text="${session.administerTips}">...</span>
            <button class="btn tipsBtn" onclick="hideTips()">确认</button>
        </div>
    </div>
    <div class="Modify" th:if="${session.administerPage} == 2">
        <form action="/administer/addData/addUserData" method="post">
            <table class="modifyContent">
                <tr>
                    <td>用户名</td>
                    <td>:<input type="text" name="user" placeholder="默认值null" th:value="${session.administerModifyInfU.getUser()}">&emsp;</td>
                    <td>等级</td>
                    <td>:<input type="text" name="level" placeholder="默认值0" th:value="${session.administerModifyInfU.getLevel()}">&emsp;</td>
                </tr>
                <tr>
                    <td>密码</td>
                    <td>:<input type="text" name="password" th:value="${session.administerModifyInfU.getPassword()}">&emsp;</td>
                    <td>名称</td>
                    <td>:<input type="text" name="name" th:value="${session.administerModifyInfU.getName()}">&emsp;</td>
                </tr>
                <tr>
                    <td>邮箱</td>
                    <td>:<input type="text" name="email" th:value="${session.administerModifyInfU.getEmail()}">&emsp;</td>
                    <td>注册日期</td>
                    <td>:<input type="text" name="date" th:value="${session.administerModifyInfU.getDate()}">&emsp;</td>
                </tr>
                <tr>
                    <td>头像</td>
                    <td>:<input type="text" name="head" th:value="${session.administerModifyInfU.getHead()}">&emsp;</td>
                    <td>权限</td>
                    <td>:<input type="text" name="promise" placeholder="默认值0" th:value="${session.administerModifyInfU.getPromise()}">&emsp;</td>
                </tr>
                <tr>
                    <td>介绍</td>
                </tr>
                <tr>
                    <td colspan="4"><textarea style="width: 575px;height: 100px;" name="introduce" th:text="${session.administerModifyInfU.getIntroduce()}"></textarea></td>
                </tr>
            </table>
            <div style="border:0;">
                <button class="btn right" style="margin: 5px 5px;" type="submit">添加</button>
                &emsp;
                <button class="btn right" style="margin: 5px 5px;" type="button" onclick="window.location.href = '/administer/html'">取消</button>
            </div>
        </form>
    </div>
    <div class="Modify" th:if="${session.administerPage} == 4">
        <form action="/administer/addData/addNoticeData" method="post">
            <table class="modifyContent">
                <tr>
                    <td>公告ID</td>
                    <td>:<input type="text" name="id" placeholder="默认值0" th:value="${session.administerModifyInfN.getId()}">&emsp;</td>
                </tr>
                <tr>
                    <tr>
                        <td>内容:</td>
                        <td><textarea name="content" style="width:210px;height: 100px;" th:text="${session.administerModifyInfN.getContent()}"></textarea></td>
                    </tr>
                </tr>
            </table>
            <div style="border:0;">
                <button class="btn right" style="margin: 5px 5px;" type="submit">添加</button>
                &emsp;
                <button class="btn right" style="margin: 5px 5px;" type="button" onclick="window.location.href = '/administer/html'">取消</button>
            </div>
        </form>
    </div>
    <div class="Modify" th:if="${session.administerPage} == 5">
        <form action="/administer/addData/addCommentData" method="post">
            <table class="modifyContent">
                <tr>
                    <td>评论编号</td>
                    <td>:<input type="text" style="width: 50px;" placeholder="默认值0" name="id" th:value="${session.administerModifyInfC.getId()}">&emsp;</td>
                    <td>主题编号</td>
                    <td>:<input type="text" style="width: 50px; " placeholder="默认值0" name="topicid" th:value="${session.administerModifyInfC.getTopicid()}">&emsp;</td>
                </tr>
                <tr>
                    <td>用户</td>
                    <td colspan="3">:<input type="text" name="user" th:value="${session.administerModifyInfC.getUser()}">&emsp;</td>
                </tr>
                <tr>
                    <td>日期</td>
                    <td colspan="3">:<input type="text" placeholder="默认值1000-01-01" name="date" th:value="${session.administerModifyInfC.getDate()}">&emsp;</td>
                </tr>
                <tr>
                    <td>内容</td>
                </tr>
                <tr>
                    <td colspan="4"><textarea name="content" style="width: 300px;height: 100px;" th:text="${session.administerModifyInfC.getContent()}"></textarea></td>
                </tr>
            </table>
            <div style="border:0;">
                <button class="btn right" style="margin: 5px 5px;" type="submit">添加</button>
                &emsp;
                <button class="btn right" style="margin: 5px 5px;" type="button" onclick="window.location.href = '/administer/html'">取消</button>
            </div>
        </form>
    </div>
    <div class="Modify" th:if="${session.administerPage} == 6">
        <form action="/administer/addData/addGoodData" method="post">
            <table class="modifyContent">
                <tr>
                    <td>id</td>
                    <td>:<input type="text" style="width: 50px;" placeholder="默认值0" name="id" th:value="${session.administerModifyInfL.getId()}">&emsp;</td>
                    <td>主题编号</td>
                    <td>:<input type="text" style="width: 50px; " placeholder="默认值0" name="topicid" th:value="${session.administerModifyInfL.getTopicid()}">&emsp;</td>
                </tr>
                <tr>
                    <td>用户</td>
                    <td colspan="3">:<input type="text" name="user" th:value="${session.administerModifyInfL.getUser()}">&emsp;</td>
                </tr>
                <tr>
                    <td>日期</td>
                    <td colspan="3">:<input type="text" placeholder="默认值1000-01-01" name="date" th:value="${session.administerModifyInfL.getDate()}">&emsp;</td>
                </tr>
                <tr>
                    <td>喜欢</td>
                    <td colspan="3">:<input type="text" placeholder="默认值0" name="good" th:value="${session.administerModifyInfL.getGood()}">&emsp;</td>
                </tr>
            </table>
            <div style="border:0;">
                <button class="btn right" style="margin: 5px 5px;" type="submit">添加</button>
                &emsp;
                <button class="btn right" style="margin: 5px 5px;" type="button" onclick="window.location.href = '/administer/html'">取消</button>
            </div>
        </form>
    </div>
</body>
</html>