<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'正在修改-'+${session.administerModify}">正在修改-?</title>
    <link rel="stylesheet" href="./css/editHome.css">
    <link rel="stylesheet" href="./css/modify.css">
    <link rel="shortcut icon" href="img/starfall.png" type="image/x-icon">
    <script src="./js/page.js"></script>
</head>
<body>
    <div class="tips" th:if="${session.administerTips} != null">
        <div class="tipsDiv">
            <p>提示:</p>
            <span th:text="${session.administerTips}">...</span>
            <button class="btn tipsBtn" onclick="hideTips()">确认</button>
        </div>
    </div>
    <div class="Modify" th:if="${session.administerPage} == 2">
        <form action="/administer/modify/modifyUserData" method="post">
            <table class="modifyContent">
                <tr>
                    <td>用户名</td>
                    <td>:<input type="text" th:value="${session.administerModifyInfU.getUser()}" name="user">&emsp;</td>
                    <td>等级</td>
                    <td>:<input type="text" th:value="${session.administerModifyInfU.getLevel()}" name="level">&emsp;</td>
                </tr>
                <tr>
                    <td>密码</td>
                    <td>:<input type="text" th:value="${session.administerModifyInfU.getPassword()}" name="password">&emsp;</td>
                    <td>名称</td>
                    <td>:<input type="text" th:value="${session.administerModifyInfU.getName()}" name="name">&emsp;</td>
                </tr>
                <tr>
                    <td>邮箱</td>
                    <td>:<input type="text" th:value="${session.administerModifyInfU.getEmail()}" name="email">&emsp;</td>
                    <td>注册日期</td>
                    <td>:<input type="text" th:value="${session.administerModifyInfU.getDate()}" name="date">&emsp;</td>
                </tr>
                <tr>
                    <td>头像</td>
                    <td>:<input type="text" th:value="${session.administerModifyInfU.getHead()}" name="head">&emsp;</td>
                    <td>权限</td>
                    <td>:<input type="text" th:value="${session.administerModifyInfU.getPromise()}" name="promise">&emsp;</td>
                </tr>
                <tr>
                    <td>经验值</td>
                    <td>:<input type="text" th:value="${session.administerModifyInfU.getExp()()}" name="exp">&emsp;</td>
                </tr>
                <tr>
                    <td>介绍</td>
                </tr>
                <tr>
                    <td colspan="4"><textarea name="introduce" style="width: 575px;height: 100px;" th:text="${session.administerModifyInfU.getIntroduce()}"></textarea></td>
                </tr>
            </table>
            <div style="border:0;">
                <button class="btn right" style="margin: 5px 5px;" type="submit">确认</button>
                &emsp;
                <button class="btn right" style="margin: 5px 5px;" type="button" onclick="window.location.href = '/administer/html'">取消</button>
            </div>
        </form>
    </div>
    <div class="Modify" th:if="${session.administerPage} == 4">
        <form action="/administer/modify/modifyNoticeData" method="post">
            <table class="modifyContent">
                <tr>
                    <td>公告ID</td>
                    <td>:<input type="text" th:value="${session.administerModifyInfN.getId()}" name="id">&emsp;</td>
                </tr>
                <tr>
                    <tr>
                        <td>内容:</td>
                        <td><textarea name="content" style="width:210px;height: 100px;" th:text="${session.administerModifyInfN.getContent()}"></textarea></td>
                    </tr>
                </tr>
            </table>
            <div style="border:0;">
                <button class="btn right" style="margin: 5px 5px;" type="submit">确认</button>
                &emsp;
                <button class="btn right" style="margin: 5px 5px;" type="button" onclick="window.location.href = '/administer/html'">取消</button>
            </div>
        </form>
    </div>
    <div class="Modify" th:if="${session.administerPage} == 5">
        <form action="/administer/modify/modifyCommentData" method="post">
            <table class="modifyContent">
                <tr>
                    <td>评论编号</td>
                    <td>:<input type="text" style="width: 50px;" name="id" th:value="${session.administerModifyInfC.getId()}">&emsp;</td>
                    <td>主题编号</td>
                    <td>:<input type="text" style="width: 50px; " name="topicid" th:value="${session.administerModifyInfC.getTopicid()}">&emsp;</td>
                </tr>
                <tr>
                    <td>用户</td>
                    <td colspan="3">:<input type="text" name="user" th:value="${session.administerModifyInfC.getUser()}">&emsp;</td>
                </tr>
                <tr>
                    <td>日期</td>
                    <td colspan="3">:<input type="text" name="date" th:value="${session.administerModifyInfC.getDate()}">&emsp;</td>
                </tr>
                <tr>
                    <td>内容</td>
                </tr>
                <tr>
                    <td colspan="4"><textarea name="content" style="width: 300px;height: 100px;" th:text="${session.administerModifyInfC.getContent()}"></textarea></td>
                </tr>
            </table>
            <div style="border:0;">
                <button class="btn right" style="margin: 5px 5px;" type="submit">确认</button>
                &emsp;
                <button class="btn right" style="margin: 5px 5px;" type="button" onclick="window.location.href = '/administer/html'">取消</button>
            </div>
        </form>
    </div>
    <div class="Modify" th:if="${session.administerPage} == 6">
        <form action="/administer/modify/modifyGoodData" method="post">
            <table class="modifyContent">
                <tr>
                    <td>id</td>
                    <td>:<input type="text" style="width: 50px;" placeholder="默认值0" name="id" th:value="${session.administerModifyInfG.getId()}">&emsp;</td>
                    <td>主题编号</td>
                    <td>:<input type="text" style="width: 50px; " placeholder="默认值0" name="topicid" th:value="${session.administerModifyInfG.getTopicid()}">&emsp;</td>
                </tr>
                <tr>
                    <td>用户</td>
                    <td colspan="3">:<input type="text" name="user" th:value="${session.administerModifyInfG.getUser()}">&emsp;</td>
                </tr>
                <tr>
                    <td>日期</td>
                    <td colspan="3">:<input type="text" placeholder="默认值1000-01-01" name="date" th:value="${session.administerModifyInfG.getDate()}">&emsp;</td>
                </tr>
                <tr>
                    <td>喜欢</td>
                    <td colspan="3">:<input type="text" placeholder="默认值0" name="good" th:value="${session.administerModifyInfG.getGood()}">&emsp;</td>
                </tr>
            </table>
            <div style="border:0;">
                <button class="btn right" style="margin: 5px 5px;" type="submit">确认</button>
                &emsp;
                <button class="btn right" style="margin: 5px 5px;" type="button" onclick="window.location.href = '/administer/html'">取消</button>
            </div>
        </form>
    </div>
</body>
</html>