<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'正在修改-'+${session.administerModify}">正在修改-?</title>
    <link rel="stylesheet" href="./css/editHome.css">
    <link rel="stylesheet" href="./css/modify.css">
</head>
<body>
    <div class="Modify" th:if="${session.administerPage} == 2">
        <table class="modifyContent">
            <tr>
                <td>用户名</td>
                <td>:<input type="text">&emsp;</td>
                <td>等级</td>
                <td>:<input type="text">&emsp;</td>
            </tr>
            <tr>
                <td>密码</td>
                <td>:<input type="text">&emsp;</td>
                <td>名称</td>
                <td>:<input type="text">&emsp;</td>
            </tr>
            <tr>
                <td>邮箱</td>
                <td>:<input type="text">&emsp;</td>
                <td>注册日期</td>
                <td>:<input type="text">&emsp;</td>
            </tr>
            <tr>
                <td>介绍</td>
            </tr>
            <tr>
                <td colspan="4"><textarea name="" style="width: 575px;height: 100px;"></textarea></td>
            </tr>
        </table>
        <div style="border:0;">
            <button class="btn right" style="margin: 5px 5px;">确认</button>
            &emsp;
            <button class="btn right" style="margin: 5px 5px;">取消</button>
        </div>
    </div>
    <div class="Modify" th:if="${session.administerPage} == 4">
        <table class="modifyContent">
            <tr>
                <td>公告ID</td>
                <td>:<input type="text">&emsp;</td>
            </tr>
            <tr>
                <tr>
                    <td>内容:</td>
                    <td><textarea name="" style="width:210px;height: 100px;"></textarea></td>
                </tr>
            </tr>
        </table>
        <div style="border:0;">
            <button class="btn right" style="margin: 5px 5px;">确认</button>
            &emsp;
            <button class="btn right" style="margin: 5px 5px;">取消</button>
        </div>
    </div>
    <div class="Modify" th:if="${session.administerPage} == 5">
        <table class="modifyContent">
            <tr>
                <td>评论编号</td>
                <td>:<input type="text" style="width: 50px;">&emsp;</td>
                <td>主题编号</td>
                <td>:<input type="text" style="width: 50px;">&emsp;</td>
                <td>用户</td>
                <td>:<input type="text">&emsp;</td>
            </tr>
            <tr>
                <td>介绍</td>
            </tr>
            <tr>
                <td colspan="6"><textarea name="" style="width: 575px;height: 100px;"></textarea></td>
            </tr>
        </table>
        <div style="border:0;">
            <button class="btn right" style="margin: 5px 5px;">确认</button>
            &emsp;
            <button class="btn right" style="margin: 5px 5px;">取消</button>
        </div>
    </div>
</body>
</html>