a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:hover{
    color: rgb(41, 117, 216);
    text-decoration: underline;
}
.top{
    position: relative;
    background-image: url(../img/top.png);
    width: 1129px;
    height: 59px;
    top: -59px;
}
.bottom{
    position: relative;
    background-image: url(../img/foot.png);
    width: 1129px;
    height: 59px;
    bottom: 59px;
}
.left{
    position: relative;
    float: left;
    background-image: url(../img/left.png);
    width: 84px;
    top: -59px;
    height: 100%;
}
.right{
    position: relative;
    float: right;
    background-image: url(../img/right.png);
    width: 84px;
    top: -59px;
    height: 100%;
}
.bookCenter{
    position: relative;
    top: -59px;
    width: 961px;
    left: 84px;
    height: 1800px;
}
.title,.line{
    position:absolute;
    width: 100%;
    border: 0;
}
.title{
    background-color: rgb(251, 242, 219);
    height: 40px;
    border-collapse: collapse;
    border: 0;
}
.titleLeft{
    background-color: rgb(227, 201, 158);
    display: flex;
    height: 40px;
    width: 180px;
    border: 0;
    border-right: 1px solid rgb(207, 183, 142);
}
.titleLeft div{
    font-size: 13px;
    color: gray;
    margin: auto;
}
.titleLeft div span{
    color: rgb(230, 136, 81);
    font-weight: 500;
}
.titleRight{
    width: 781px;
    text-align: left;
    border: 0;
    background-color: initial;
}
.titleRight h1{
    position: relative;
    font-size: 18px;
    top: 6px;
    left: 20px;
}
.titleRight h1 .copyHref{
    font-size: 10px;
    color: gray;
}
.line{
    background-color: rgb(227, 201, 158);
    height: 5px;
    top: 40px;
    border-collapse: collapse;
    border: 0;
}
.lineLeft{
    width: 180px;
    height: 10px;
    background-color: #CFB78E;
    border: 0;
    border-right: 1px solid rgb(207, 183, 142);
}
.lineRight{
    border: 0;
}
.mainTable{
    position: absolute;
    left: 0;
    top: 45px;
    height: 1755px;
    border-collapse: collapse;
    border: 0;
}
.author{
    width: 180px;
    border: 0;
}
.content{
    background-color: rgb(251, 242, 219);
    width: 1000px;
    border: 0;
}
.authorContent{
    background-color: rgb(227, 201, 158);
    width: 180px;
    height: 1755px;
    border-right: 1px solid rgb(207, 183, 142);
}
.authorName{
    width: 180px;
    height: 40px;
    display: flex;
    border-bottom: 1px dashed rgb(194, 166, 120);
}
.authorName span{
    position: relative;
    margin: auto;
}
.authorHead{
    display: flex;
    width: 180px;
    height: 180px;
}
.authorHead a{
    margin: auto;
    border: 5px solid white;
    width: 130px;
    height: 130px;
}
.authorHead img{
    width: 130px;
    height: 130px;
}
.authorInf{
    width: 180px;
}
.authorInfSpan{
    position: relative;
    top: -8px;
    font-size: 10px;
}
.authorInfText{
    position: relative;
    width: 160px; 
    left: 10px;
    top: -10px;
    word-wrap: break-word;
    display: block;
    color: gray;
    font-size: 13px;
}
.contentTable{
    position: relative;
    top: -475px;
    width: 760px;
    height: 800px;
    left: 12px;
    display: block;
    border-collapse: collapse;
    background-color: initial;
    border: 0;
    margin-bottom: 20px;
}
.contentTable img{
    object-fit: cover;
    width: 100%;
}
.contentTop{
    position: relative;
    width: 760px;
    height: 38px;
    font-size: 12px;
    border: 0;
    border-bottom: 1px dashed rgb(194, 166, 120);
    background-color: initial;
}
.contentTop img{
    position: relative;
    top: 3px;
}
.contentInf{
    position: relative;
    top: 10px;
    border-collapse: collapse;
    background-color: initial;
    width: 760px;
    font-weight: 400;
    text-align: left;
    font-size: 12px;
    border: 0;
}
.contentInf caption{
    background: #E3C99E;
    border-top: 1px solid #99876C;
    font-size: 14px;
    font-weight: 700;
    padding: 5px;
    border-bottom: 1px solid #99876C;
    text-align: left;
}
.contentInf th{
    padding: 5px;
    border: 0;
    border-bottom: 1px solid #99876C;
    width: 150px;
    font-weight: 400;
    background-color: initial;
}
.contentInf td{
    border: 0;
    border-bottom: 1px solid #99876C;
    background-color: initial;
}
.contentMd{
    position: relative;
    width: 740px;
    left: 20px;
    top: 20px;
    /* background-color: rgb(142, 192, 192); */
    line-height: 2;
    word-wrap: break-word;
    font-size: 1rem;
    font-weight: 400;
    overflow: hidden;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
.contentMd a{
    color: midnightblue;
}
blockquote{
    display: block;
    padding: 2px;
    border-left: 3px solid #dddfe4;
    background: #eef0f4;
    overflow: auto;
    word-break: break-word!important;
}
hr{
    margin: 10px 0;
}
pre code{
    color: aliceblue;
    display: block;
    padding: 5px;
    -webkit-text-size-adjust: none;
    overflow-x: auto;
    white-space: pre;
    background-color: rgb(77, 77, 77);
    font-size: 14px;
    line-height: 22px;
}
p code{
    padding: 5px;
    background-color: rgba(252, 179, 179, 0.603);
    color: rgb(192, 2, 2);
    font-size: 14px;
    line-height: 22px;
    font-family: Source Code Pro,DejaVu Sans Mono,Ubuntu Mono,Anonymous Pro,Droid Sans Mono,Menlo,Monaco,Consolas,Inconsolata,Courier,monospace,PingFang SC,Microsoft YaHei,sans-serif;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}
table td, table th{
    border: 1px solid #7c6229;
}
table th{
    background-color: #ebcfa3;
}
table td{
    background-color:#f5dfbd;

}
.likeDiv{
    position: absolute;
    top: 10px;
    right: 0;
    /* background-color: #7c6229; */
    height: 35px;
    width: 300px;
    display: flex;
    justify-content: right;
}
.likeDiv a{
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
}
.like{
    width: 30px;
    height: 30px;
    background-image: url(../img/icon/like0.png);
}
.like:hover{
    background-image: url(../img/icon/like1.png);
}
.like:active{
    background-image: url(../img/icon/like2.png);
}
.dislike{
    top: 5px;
    margin-left: 20px;
    width: 30px;
    height: 30px;
    background-image: url(../img/icon/dislike0.png);
}
.dislike:hover{
    background-image: url(../img/icon/dislike1.png);
}
.dislike:active{
    background-image: url(../img/icon/dislike2.png);
}
.alreadyLike span{
    color: #531d14;
    font-weight: bold;
}
.alreadyLike .like{
    background-image: url(../img/icon/like1.png);
}
.alreadyDislike .dislike{
    background-image: url(../img/icon/dislike1.png);
}