*{
    margin: 0;
    padding: 0;
    user-select: none;
    transition: all 500ms,font 0s;
}
html{
    overflow-x: hidden;
}
body{
    display: block;
    max-height: 100vh;
}
.ul{
    position:fixed;
    background-image: url(../img/ul_bg.png);
    height: 50px;
    width: 100vw;
    border-radius: 0 0 0 8px;
    z-index: 100;
}
.ul li{
    list-style: none;
    float: left;
    text-align: center;

}
.ul li a{
    display: block;
    padding: 14px 18px;
    text-decoration: none;
    color: #f1f1f1;
    font-weight: bold;
}
.ul .li_home{
    margin-left: 100px;
}
.ul li a:hover {
    background-color: rgb(180, 180, 180);
    color: #131313;
}
.ul .li_user{
    float: right;
    background-image: url(../img/ul_bg.png);
    width: 155px;
    height: 50px;
    margin-right: 100px;
}
.ul .li_user img{
    border: 2px solid #f1f1f1;
    border-radius: 5px;
    width: 40px;
    height: 40px;
}
.menu{
    position: absolute;
    background-image: url(../img/birch.png);
    background-size: 100%;
    display: block;
    width: 150px;
    height: 120px;
    top: 50px;
    right: 100px;
    border-left: 2px solid #8f8568;
    border-right: 2px solid #3f3a2c;
    border-bottom: 2px solid #3f3a2c;
    font-weight: 100;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    z-index: -1;
    transform: translateY(-300px);
    transition: all 250ms;
}
.menu p{
    position: relative;
    margin: 0;
    font-size: 18px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.menu .exp{
    margin: 0 5px;
    width: 135px;
    height: 10px;
    background-image: url(../img/lv0.png);
    background-size: 100%;
    border-radius: 10px;
    overflow: hidden;
    border: 0;
}
.menu .exp div{
    position: relative;
    width: 0%;
    height: 10px;
    background-image: url(../img/lv1.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    border: 0;
}
.menu .level{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.menu .level span:nth-child(1){
    color: #046404;
}
.menu .level span:nth-child(2){
    color: #044964;
}
.menu .operate{
    position: relative;
    top: 15px;
}
.menu .operate a{
    background-image: url(../img/oak.png);
    font-size: 14px;
    padding: 3px 5px;
    margin: 0 10px;
    border-radius: 3px;
    text-decoration: none;
    color: #131313;
    display: inline;
}
.menu .operate a:hover{
    color: #f1f1f1;
    background-image: url(../img/spruce.png);
}
.ul .li_user:hover .menu{
    transform:translateY(0);
}
.main{
    position: relative;
    display: flex;
    top: 150px;
    left: -50px;
    height: auto;
    justify-content: center;
    margin-bottom: 280px;
}
.book{
    position: relative;
    background-color: rgb(250, 241, 217);
    width: 1129px;
    height: 1800px;
}
.comment{
    position: relative;
    background-color: rgb(176, 176, 177);
    top: -59px;
    left: 80px;
    width: 600px;
    height: 1988px;
}
.tail{
    position: absolute;
    width: 100vw;
    height: 100px;
    background-image: url(../img/tail.png);
    background-size: 8%;
    text-align: center;
}
.tail p{
    position: relative;
    color: aliceblue;
    font-weight: bold;
    top: 25px;
}
.windows{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 300px;
    outline: 8px solid rgba(0, 0, 0, 0.288);
    border-radius: 10px;
    background-color: rgb(243, 230, 205);
    z-index: 999;
    display: none;
    text-align: center;
}
.windows .close{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border: 0;
    font-size: 25px;
    color: rgb(54, 54, 54);
    cursor: pointer;
}
.windows .close:hover{
    color: rgb(139, 0, 0);
    text-decoration: none;
}
.windows .btn{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 40px;
    border: 0;
    background-color: rgb(227, 201, 158);
    color: #131313;
    outline: 2px solid rgb(207, 183, 142);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.windows .btn:hover{
    background-color: rgb(122, 108, 84);
    color: #f1f1f1;
}