.top{
width: 98%;
height: 600px;
}
*{
    margin:0px;
    padding:0px;
    user-select: none;
}
.starfall{
    position: absolute;
    top:25%;
    left:35%;
    z-index: 10;
    font-family: block_font;
    font-weight: bold;
    font-size: 150px;
    color: rgb(0, 162, 255);
}
#ppt{
    position: absolute;
    width: 100%;
    height:600px;
    overflow: hidden;
    z-index: 5;
}
/* 
弃用js轮播图，该成bootstrap轮播
#ppt{
    position: absolute;
    width: 100%;
    height:600px;
    background-repeat: no-repeat;
    background-image:url(../img/top/top1.png);
    background-size: 100% auto;
    background-position: -50% 50%;
}
.il{
    width:50px;
    height:50px;
    position: absolute;
    top: 30%;
    left: 3%;
    background-color: aliceblue;
    display: block;
    line-height: 48px;
    text-align: center;
    border-radius: 5px;
    opacity: 0.3;
    transition: opacity 500ms;
    -webkit-transition: opacity 500ms;
}
.il:hover{
    opacity: 0.8;
}
.ir{
    width:50px;
    height:50px;
    position: absolute;
    top: 30%;
    right: 3%;
    background-color: aliceblue;
    display: block;
    line-height: 48px;
    text-align: center;
    border-radius: 5px;
    opacity: 0.3;
    transition: opacity 500ms;
    -webkit-transition: 500ms;
}
.ir:hover{
    opacity: 0.8;
}
#ppt_dot{
    position: absolute;
    width:200px;
    height:30px;
    background: none;
    bottom:0px;
    left: 50%;
    margin-left:-100px;
    display: flex;
}
#pd1,#pd2,#pd3,#pd4{
    width:10px;
    height: 10px;
    background:rgb(34, 34, 34);
    position: relative;
    margin-top: 10px;
    margin-left: 25px;
    border-radius: 5px;
    opacity: 0.8;
} */