.information{
    position: absolute;
    float: left;
    left: 220px;
    top: 20px;
    width: 1680px;
    height: 880px;
    background-color: rgb(50, 65, 70);
    display:block;
}
.information_top{
    position: relative;
    height: 100px;
    border-bottom: 3px solid rgb(1, 29, 66);
}
.C_text{
    margin: 0px 10px;
}
.E_text{
    margin: 0px 10px;
    font-size: 15px;
    
}
.user_admin{
    position: relative;
    top: 20px;
    left: 100px;
    border: 2px solid black;
}