*{
    user-select: none;
    margin: 0;
    padding: 0;
    transition: all 0.5s,font 0s;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url(../img/set/wood.png);
}
ul{
    position: relative;
    background-image: url(../img/set/log.png);
    width: 100px;
    height: 100vh;
    list-style: none;
    text-align: center;
    border-right: 1px solid #131313;
}
ul li{
    margin-top: 10px;
}
ul li a{
    text-align: center;
    line-height: 50px;
    display: block;
    width: 100px;
    height: 50px;
    background-image: url(../img/set/birchSign.png);
    background-size: 100%;
    text-decoration: none;
    color: #131313;
    font-weight: bold;
}
ul li a:hover{
    color: #f1f1f1;
    background-image: url(../img/set/spruceSign.png);
}
textarea{
    width: 250px;
    height: 150px;
    overflow-y: auto;
    resize: none;
    outline: 0;
    border: 0;
    background-image: url(../img/set/spruceSign.png);
    color: #f1f1f1;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    outline: 2px solid #f1f1f100;
    padding: 8px;
    border-radius: 10px;
}
textarea:hover{
    outline: 2px solid #131313;
}
.head_img{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.head_set{
    position: relative;
    left: 10px;
    width: 80px;
    height: 80px;
    background-image: none;
    font-size: 15px;
    opacity: 0;
    border-radius: 50%;
    line-height: 80px;
}
.head_set:hover{
    opacity: 1;
    background-color: rgba(128, 128, 128, 0.479);
    color: #f1f1f1;
    background-image: none;
}
.square{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 110px;
    transform: rotate(45deg);
    background-color: #131313;
    top: 110px;
    border-radius: 5px;
}
.page{
    position: relative;
    top: 5vh;
    left: 18px;
    width: 90vw;
    height: 90vh;
    outline: 2px solid #131313;
    border-radius: 5px;
    background-image: url(../img/set/woodWhite.png);
    background-size: 5%;
}
.head_page,.password,.information{
    display: none;
}
.content{
    margin: 10px 20px;
}
.eleTable{
    font-size: 18px;
    font-weight: bold;
    border-collapse: collapse;
}
.eleTable tr td{
    padding: 5px 0px;
    text-align: center;
}
.eleTable tr .infTd{
    text-align: left;
}